:root {
    --myblue: rgb(0, 157, 255);
}

.card {
    height: 350px;
    min-width: 250px;
    width: 30%;
    background-color: white;
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 7px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--bshadow);
}

.card__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.card__name {
    font-weight: bold;
    color: black;
    display: block;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.card__category {
    color: gray;
    display: block;
    text-align: right;
    margin: 10px 20px auto auto;
}

.card__purchase-part {
    margin: 40px 20px 20px 20px;
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 12px;
    font-size: 13px;
}

.card__purchase-btn {
    color: white;
    border: none;
    outline: none;
    margin: auto auto auto 0;
    background-color: var(--myblue);
    padding: 7px 15px   ;
    border-radius: 20px;
    box-shadow: var(--bshadow);
}

.card__price {
    margin: auto 0 auto auto;
    display: flex;
    font-size: 14px;
    /*background-color: gold;*/
}

