
.home-page {
    min-height: 89vh;
    background-color: whitesmoke;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    padding-bottom: 10px;
}

.search-section {
    display: flex;
    background-color: tomato;
    flex-direction: column;
    margin: 0;
}

.search-title {
    color: white;
    font-size: calc(var(--default-font-size) * 2);
    /*font-size: 48pt;*/
    margin-top: 5%
}

.search-box {
    width: 70%;
    margin: 40px auto 0 auto;
    text-align: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 24px;
}

.search-btn {
    outline: none;
    border-radius: 24px;
    color: black;
    background-color: var(--warning);
    margin: 35px auto 2% auto;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    transition: transform 200ms;
}

.search-btn:hover {
    /*transform: scale(1.02);*/
    box-shadow: 0 4px 8px 0 rgba( 255,193, 7, 0.2), 0 6px 20px 0 rgba(255,193, 7, 0.19);
}

.clock-img {
    width: 50%;
    margin: auto auto 0 auto;
}

.products-section {
    padding: 0 1.5%;
    margin: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
}

.products-panel {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1%;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    min-width: 300px;
    margin-top: 0.5%;
}

.filters__box {
    background-color: white;
    width: 100%;
    color: dimgray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow:  var(--bshadow);
}

.filters__title {
    border-bottom: 1px solid lightgray;
    text-align: right;
    padding: 2% 5%;
}

.categories__form {
    margin: 5% 2%;
    max-height: 300px;
    overflow-x:hidden;
    overflow-y: auto;
}

.categories__option {
    text-align: right;
    margin: 12px 20px
}

.categories__option label {
    margin-right: 3%;
}

.price-number-range {
    width: 60%;
    margin: 15% auto;
    color: black;
}

.price-slider {
    margin-bottom: 15%;
}

.sort-box {
    display: flex;
    height: 50px;
    flex-direction: row-reverse;
    background-color: white;
    color: dimgray;
    border-radius: 10px;
    margin: 1.5% auto 0 auto;
    padding: 8px 0;
    box-shadow: var(--bshadow);
}
.sort-msg {
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-right: 2%;
    padding: 5px 15px;
}
.sort-btn {
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    margin-right: 2%;
    padding: 5px 15px;
    outline: none;
}

.sort-btn:hover {
    color: black;
    text-decoration: none;
}

.sort-btn--chosen {
    background-color: var(--myblue);
    color: white;
}

.sort-btn--chosen:hover {
    color: white;
}