
.home-page {
    min-height: 89vh;
    background-color: whitesmoke;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    padding-bottom: 10px;
}

.hero-header {
    display: flex;
    background-color: tomato;
    flex-direction: column;
    margin: 0;
}

.hero-header__title {
    color: white;
    font-size: calc(var(--default-font-size) * 2);
    /*font-size: 48pt;*/
    margin-top: 5%
}

.hero-header__search-box {
    width: 70%;
    margin: 40px auto 0 auto;
    text-align: center;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 24px;
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
}

.hero-header__search-btn {
    outline: none;
    border-radius: 24px;
    color: black;
    background-color: var(--warning);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 35px auto 2% auto;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    transition: transform 200ms;
    cursor: pointer;
}

.hero-header__search-btn:hover {
    /*transform: scale(1.02);*/
    box-shadow: 0 4px 8px 0 rgba(255, 193, 7, 0.2), 0 6px 20px 0 rgba(255, 193, 7, 0.19);
}

.hero-header__slider {
    /*display: flex;*/
}

.hero-header__slider__left-btn {
    float: left;
    margin-left: 10%;
    outline: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.hero-header__slider__right-btn {
    float: right;
    margin-right: 10%;;
    outline: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.hero-header__img {
    width: 50%;
    margin: auto auto 0 auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.products-section {
    padding: 0 1%;
    margin: 0;
    /*background-color: gold;*/
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    float: left;
    /*background-color: blue;*/
}

.products-panel {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1%;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    min-width: 300px;
    margin-top: 0.5%;
    /*background-color: darkred;*/
}

.filters__box {
    background-color: white;
    width: 80%;
    color: dimgray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: var(--bshadow);
}

.filters__title {
    border-bottom: 1px solid lightgray;
    text-align: right;
    padding: 2% 5%;
}

.categories__form {
    margin: 5% 2%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.categories__option {
    text-align: right;
    margin: 12px 20px
}

.categories__option label {
    margin-right: 3%;
}

.price-number-range {
    width: 60%;
    margin: 15% auto;
    color: black;
}

.price-slider {
    width: 100%;
}
.MuiSlider-colorPrimary{
    color: var(--primary) !important;
}

.price-slider__description {

}
.price-slider__slider {
    color: var(--firouzei);
}

.price-slider__title {
    font-family: var(--default-font-family);
    font-size: calc(var(--default-font-size) * 0.85);
    color: dimgray;
    margin-bottom: 10%;
}

.sort-box {
    display: flex;
    height: 50px;
    flex-direction: row-reverse;
    background-color: white;
    color: dimgray;
    width: 98%;
    border-radius: 10px;
    margin: 1.5% auto 0 auto;
    padding: 8px 0;
    box-shadow: var(--bshadow);
}

.sort-msg {
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-right: 2%;
    padding: 5px 15px;
}

.sort-btn {
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    margin-right: 2%;
    padding: 0 15px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--default-font-family);
    font-size: calc(var(--default-font-size) * .7);
}

.sort-btn:hover {
    color: black;
    text-decoration: none;
}

.sort-btn--chosen {
    background-color: var(--myblue);
    color: white;
}

.sort-btn--chosen:hover {
    color: white;
}

.pagination__box {
    display: flex;
    justify-content: flex-end;
    width: 96%;
    height: 50px;
    flex-direction: row-reverse;
    background-color: white;
    color: dimgray;
    border-radius: 10px;
    margin: 1.5% auto;
    padding: 8px 0;
    box-shadow: var(--bshadow);
}

.pagination {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /*background-color: gold;*/
}

.pagination__btn {
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    margin: auto 5px;
    padding: 5px 10px;
    border: none;
    font-family: var(--default-font-family);
}

.pagination__btn--disabled {
    background-color: var(--secondary);
}

.pagination__numbers-group {
    display: flex;
    flex-direction: row;
}

.pagination__number {
    margin: auto 5px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.pagination__number--chosen {
    background-color: var(--primary);
    color: white;
}

.pagination__capacity {
    flex: 0 1 auto;
    margin-right: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: row-reverse;
}

.pagination__capacity__label {
    margin: auto 2%;
    flex-basis: 95%;
}

.pagination__capacity__select {
    flex-basis: 25%;
    justify-content: center;
}