.kinput__container {
    display: flex;
    flex-direction: column;
    /*height: 50px;*/
    /*background-color: gold;*/
}

.kinput {
    display: flex;
    flex-direction: row-reverse;
    /*height: 100%;*/
    justify-content: center;
}

.kinput__error {
    color: var(--danger);
    /*height: 20px;*/
    /*background-color: gold;*/
    font-size: calc(var(--default-font-size) * (3 / 4));
    margin: 0 auto;
}


.kinput--not-valid {
    border: 2px solid var(--danger);
    border-radius: 7px;
}
.kinput--valid {
    border: 2px solid var(--success);
    border-radius: 7px;
}
.kinput__label {
    background-color: var(--firouzei);
    color: white;
    font-size: calc(var(--default-font-size) * 0.9);
    font-family: var(--default-font-family);
    width: 85px;
    /*height: 100%;*/
    padding: 10px;
    border-radius: 0 7px 7px 0;
}

.kinput__input {
    font-size: calc(var(--default-font-size) * 0.8);
    font-family: var(--default-font-family);
    color: dimgray;
    min-width: 300px;
    /*width: 60%;*/
    /*height: 100%;*/
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px 0 0 7px;
    text-align: right;
    vertical-align: center;
}

.kinput--left {
    margin: 0 10px auto auto;
}

.kinput--right {
    margin: 0 auto auto 10px;
}

.kinput__input--big {
    min-width: 745px;
    resize: none;
}
