:root {
    --firouzei: rgb(14, 186, 197);
}

.navbar {
    height: 65px;
    background-color: white;
    display: -webkit-flex;
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    flex-direction: row-reverse;
}

.navbar__btn {
    flex-basis: 120px;
    color: dimgray;
    background-color: white;
    margin: auto 12px;
    transition: transform 450ms;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
    /*font-size: 16pt;*/
}

.navbar__btn:hover {
    /*transform: scale(1.1);*/
    color: var(--firouzei);
    text-decoration: none;
}

.navbar__log {
    flex-basis: 150px;
    color: var(--firouzei);
    background-color: white;
    margin: auto 5px auto 12px;
    font-size: calc(var(--default-font-size) * 1.2);
    font-family: var(--default-font-family);
    text-decoration: none;
    transition: transform 450ms;
    outline: none;
    border: none;
    /*font-size: 20pt;*/
}

.navbar__log:hover {
    /*transform: scale(1.1);*/
    color: var(--firouzei);
    text-decoration: none;
}

.navbar__login-btn {
    /*flex-basis: 150px;*/
    color: dimgray;
    background-color: white;
    margin: auto auto auto 0;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid gold;
    padding: 10px 20px;
    transition: transform 450ms;
    cursor: pointer;
    outline: none;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

.navbar__login-btn:hover {
    /*transform: scale(1.03);*/
    background-color: gold;
    text-decoration: none;
    color: black;
}

.navbar__dropdown {
    margin: auto auto auto 0;
    text-decoration: none;

    outline: none;
    /*transition: transform 450ms;*/
    position: relative;
    display: inline-block;
}

.navbar__dropdown:hover {
    transform: scale(1.001);
    text-decoration: none;
}

.navbar__dropdown__btn {
    color: dimgray;
    background-color: white;
    border: 2px solid gold;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}
.navbar__dropdown__btn:hover {
    color: black;
    background-color: gold;
    z-index: 2;
}

.navbar__dropdown__content {
    display: none;
    position: absolute;
    background-color: rgb(225, 225, 225);
    min-width: 100%;
    top: 20%;
    left: 0;
    padding: 23% 0 20px 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 24px 24px;
    z-index: -1;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

.navbar__dropdown__content button {
    color: black;
    /*width: 100%;*/
    background-color: rgb(225, 225, 225);
    padding: 8px 16px;
    text-decoration: none;
    outline: none;
    border: none;
    /*border-radius: 24px;*/
    display: block;
    font-size: var(--default-font-size);
    font-family: var(--default-font-family);
}

.navbar__dropdown__content button:hover {
    background-color: rgb(247, 247, 247);
}

.navbar__dropdown:hover .navbar__dropdown__content {
    display: flex;
    flex-direction: column;
}

.navbar__dropdown:hover .navbar__dropdown__btn {
    background-color: gold;
    font-weight: bold;
}