:root {
    --default-font-size: 16px;
    --default-font-family: "IRAN Sans",sans-serif;
}

.App {
    text-align: center;
    background-color: white;
    max-width: 1280px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "IRAN Sans",sans-serif;
    font-size: 16px;
}

.footer {
    background-color: rgb(42, 52, 54);
    color: rgb(114, 120, 125);
    font-size: 16px;
    min-height: 10vh;
    margin: auto 0 0 0;
    max-width: 1280px;
    width: 100%;
    display: flex;
    /*overflow: hidden;*/
    position: relative;
    bottom: 0;
}

.footer-inner {
    flex-basis: 100%;
    margin: auto 0;
    height: 50%;
}