.App {
    text-align: center;
    background-color: white;
    max-width: 1280px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "IRAN Sans",sans-serif;
    font-size: 16px;
}

.footer {
    background-color: rgb(42, 52, 54);
    color: rgb(114, 120, 125);
    height: 10%;
    font-size: 16px;
    margin: auto 1px;
}